.MainPage{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-columns: minmax(150px, 400px) 1fr 1fr;
    grid-template-areas: "Groups Search Search"
                          "Groups Dialog Dialog"
                          "Groups Dialog Dialog";
}

.Search{
    grid-area: Search;
}
.Groups{
    grid-area: Groups;
}
.Dialog{
    grid-area: Dialog;
}